################################################
##################   ACCESS   ##################
################################################

# Access Database Files
*.accdb
*.accdc
*.accde
*.accdt
*.accdr
*.laccdb
*.ldb

# Compiled Output Files
*.mde
*.ade

# Temporary Files
~$*.accdb
~$*.accdc
~$*.accde
~$*.accdt
~$*.accdr
~$*.laccdb
~$*.ldb

# Miscellaneous
Thumbs.db
.DS_Store
